@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

/* 공통요소 */
.sr-only{position:absolute;left:-9999px;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.n-fixed{position:fixed;left:0;top:0;}
.en{font-family: 'Libre Baskerville', serif;}

/* 
 영문폰트 font-family: 'Libre Baskerville', serif; 

*/

/*나중에 지우기*/
.loading{display: block;}


body{font-family: NanumSquare, sans-serif;
}
#wrap{min-width:1200px;
overflow: hidden;/*insta_bg때문에 설정*/}
@media screen and (max-width:768px){
	#wrap{min-width:100%;}
}

/* 애니큐빅 */
.loading{
	position:fixed;
	left:0;right:0;bottom:0;top:0;/*전체화면을 꽉 차게하는 방법*/
	background-color:#010338;
	z-index:1000;
}
.loading:before{
    display: block;
    content: '';
    background-color:rgba(26,30,35,0.9);
    z-index: 1100;
}
.loading>p{
	position:absolute;
	left:50%;margin-left: -440px;
	top:50%;margin-top: -220px;
	width:880px;
	height:440px;
	text-indent:-9999px;
	background-image:url(../images/loading_02.gif);
}
h1{
    position:absolute;
	/* top:100px; js에서 설정 */
	left:50%;
	/* margin-left:-75px; js에서 설정 */
	color:#fff;
	font-size:24px;
    font-family: NanumSquareWeb, sans-serif;
	z-index:100;
}
#home{
	position:relative;
	background-image:url(../images/box4.png);
	background-position: 50% 50%;
	background-size:cover;
	background-attachment: fixed;/*페럴럭스*/
	background-repeat:no-repeat;
}
#home:before{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(26,30,35,0.65);
	content:'';
}
#home>.intro{
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
}
#home>.intro>h2{
	margin-bottom:16px;
	color:#52b3d9;
	font-size:60px;
	line-height:80px;
	text-transform:uppercase;/*소문자 lowercase*/
}
#home>.intro>h2>span{color:#68c3a3;}
#home>.intro>p{
    margin-top: 150px;
	margin-bottom:40px;
	color:#f7f7f7;
    font-size: 18px;
	line-height:1.8;/*=180%*/
	letter-spacing:-0.5px;
}
#home>.intro>p>span{display: block;}
#home>.intro>.sns{
	position: absolute;
    right: 0;
    top: 0;
}
#home>.intro>.sns>li{
	float:left;
	width:40px;
	margin-right:30px;
}
#home>.sns>li:last-child{margin-right:0;}
#home>.sns>li>a{
	display:block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
#home>.sns>li:nth-child(1)>a{right: 50px;}
#home>.sns>li:nth-child(2)>a{right: 20px;}
#home>.sns>li>a>i{
	display:block;
    position: absolute;
	height:40px;
    margin-top: 20px;
	color:#fff;
	font-size:18px;
	text-align:center;
    z-index: 900;
}

#home>.sns .insta{
    display: block;
    position: absolute;
    top: 60px;
    left: -15px;
    width: 28px;
    height: 40px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 90px;
    background-image: url(../images/cursor.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: insta;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
    z-index: 100;
}
@keyframes insta{
	0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
	30%{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
	100%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
}
.sns .insta_bg{
    display: block;
    position: absolute;
    right: -125px;
    top: -130px;
    width: 250px;
    height: 250px;
    text-indent: -9999px;
    
    background-color: #190AB2;
    border-radius: 250px;
    transition: all 1s; 
    opacity: 1;
   background-color: #4958F7; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.sns:hover .insta_bg{
    transition: all 1s;
    opacity: 1;
   width: 280px;
    height: 280px; 
    
    background-color: #190AB2;
    background-color: #e64cb6;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* 마우스 휠 구현 */
#home>.mouse-icon{
	position:absolute;
	left:50%;
	bottom:40px;
	width:30px;
	height:50px;
	margin-left:-15px;
	border:2px solid #fff;
	border-radius:15px;
	box-sizing:border-box;
}
@keyframes mousewheel{
	0%{top:5px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
	
	30%{top:10px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
	
	100%{top:25px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
}
#home>.mouse-icon>.wheel{
	position:absolute;
	left:50%;
	width:4px;
	height:10px;
	margin-left:-2px;
	text-indent:-9999px;
	background-color:#FFF;
	border-radius:10px;
	
	animation-name:mousewheel;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}


/* 반응형 - 모바일 <= 767px */
@media screen and (max-width:768px){
	

	#home{
		height:560px !important;/* '!' 를 붙이는 이유는 높이값을 js에서 동적으로 지정하기 때문(=>특정값 1000점 이라서...) */
	}


	#home>.intro>h2{
		font-size:38px;
		line-height:50px;
	}

    #home>.intro>h2>span,#home>.intro>p>span{display:block;}


	#home>.intro>.sns>li{width:33px;}
    #home>.intro>p{margin-top: 10px;font-size: 15px;}
    #home>.intro>p>span{font-weight: 700;font-size: 18px;}
	

	/* 마우스 휠 구현 */
	#home>.mouse-icon{display:none;}

	
}/* end of @media #home*/

header{
	position:relative;
	width:100%;
	background-color:#FFF;
	z-index:900;
}
header>.container{
	position:relative;
	width:100%;
	height:66px;
    background-color: #190AB2;
}
header>.container>.btn-gnb{display:none;}/*반응형 햄버거버튼*/

/* 메인메뉴 */
header>.container>nav{
	position:absolute;
	right:7%;
	top:28px;
}
header>.container>nav>.gnb>li{
	float:left;
}
header>.container>nav>.gnb>li>a{
	display:block;
	height:14px;
	padding:0 15px;
	color:darkgray;
	font-weight:800;
    font-size: 17px;
	line-height:14px;
	text-transform:uppercase;
	transition:all 0.2s;
}
header>.container>nav>.gnb>li:hover>a,
header>.container>nav>.gnb>li.on>a{
	color:#fff;
}
header>.container>nav>.gnb>li>a>i,
header>.container>nav>.gnb>li>a>.arrow_go{display:none;}

@media screen and (max-width:768px){
	
    /* 메인메뉴 */
    header>.container>nav{
        position:absolute;
        left:2%;
        top:28px;
    }

    header>.container>nav>.gnb>li{
        float:left;
    }


    header>.container>nav>.gnb>li>a{
        display:block;
        height:14px;
        padding:0 10px;
        color:darkgray;
        font-weight:800;
        font-size: 17px;
        line-height:14px;
        text-transform:uppercase;
        transition:all 0.2s;
    }

    header>.container>nav>.gnb>li:hover>a,
    header>.container>nav>.gnb>li.on>a{
        color:#fff;
    }

	
}/* end of @media header*/

/*abutme*/
header~section{padding-top:120px;}
header~section>h2{
	margin-bottom:42px;
    margin-left: 7%;
	color:#dedede;
	font-size:70px;
	line-height:50px;
    font-weight: 400;
	text-transform:uppercase;
    /**/font-family: 'Libre Baskerville', serif;
    
}
header~section h3{
	color:#000;
	font-weight:800;
	font-size:32px;
	line-height:24px;
	text-transform:uppercase;
}
#aboutme{
height: 1400px;}
#aboutme>.container{
    display:flex;
    position: relative;
    padding-bottom:30px;
}
#aboutme>.container>.profile{
	order:20;
	width:100%;margin: 0 auto;
    height: 320px; 
}
#aboutme>.container>.profile>div.photo{
	position:absolute;
    top: -100px;
    right: 7%;
    width: 415px;
    height: 200px;
}
#aboutme>.container>.profile>div>.myphoto{
	position: absolute;
	background-position:center bottom;
	background-size:contain;
	background-repeat:no-repeat;
	
}
#aboutme .myphoto>.itsme>li{
    float: left;
    width: 200px;height: 200px;
    background-size: cover;
    filter: grayscale(90%);
    opacity: 0.9;
 filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    transition: all 0.3s;
    text-transform:lowercase;
    text-align:right;
    line-height: 16px;
    color: transparent;
    font-weight: 400;
    font-size: 15px;
    /*font-family: 'Libre Baskerville', serif;*/
}
#aboutme .myphoto>.itsme>li:hover{
   color: #fff;
    transition: all 0.3s;
    filter: none;
    opacity: 1;
 filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#aboutme>.container>.profile>div>.myphoto>ol>li:nth-child(1){
    margin-right: 15px;
     background-image: url(../images/aboutme/me_01.png); 
    filter: grayscale(0);
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#aboutme .myphoto>ol>li:nth-child(2){
     background-image: url(../images/aboutme/me_06.png); 
}
#aboutme .myphoto>ul{
    width: 630px;
    margin-top: 15px;margin-left: -215px;
}
#aboutme .myphoto>ul>li:nth-child(1){
    margin-right: 15px;
    background-image: url(../images/aboutme/me_05.png);
}
#aboutme .myphoto>ul>li:nth-child(2){
    margin-right: 15px;
    background-image: url(../images/aboutme/me_03.png);
    filter: grayscale(0.7);
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#aboutme .myphoto>ul>li:nth-child(3){
    
    background-image: url(../images/aboutme/me_07.png);
    filter: grayscale(0);
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#aboutme>.container>.profile>div>ol{
	padding:25px 20px 30px 0;
}
#aboutme>.container>.profile>.about>.common,
#aboutme>.container>.profile>.about>.common>li:nth-child(1){
    position: absolute;
    left: 7%;
    color: #B6B6B6;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 400;
}
#aboutme>.container>.profile>.about>.common>li:nth-child(1){
    left: 0;
}
#aboutme>.container>.profile>.about>.common>li:nth-child(2){
    
    margin-top: 35px;
}
#aboutme>.container>.profile>.about>.common>li{
   
    font-size: 15px;
}
#aboutme>.container>.profile>.about>.common>li>strong{font-weight: 400;}
#aboutme>.container>.profile>.about>.common>li>span{font-family: NanumSquare, sans-serif;}
#aboutme>.container>.profile>.about>ol{
    top: -10px;
}
#aboutme>.container>.profile>.about>ol>li:nth-child(2),
#aboutme>.container>.profile>.about>ul>li:nth-child(4){
    color: #190AB2;
    font-weight: 500;
}
#aboutme>.container>.profile>.about>ul{
    top: 185px;
}
#aboutme>.container>.biography{  
    position: absolute;
    top: 420px;
    width: 100%;height: 140px;
    color: #000;
    text-align: right;
    /*outline: 1px solid blue;*/
}
#aboutme>.container>.biography>.detail{
    position: absolute;right: 7%;
	margin-bottom:60px;
}
#aboutme>.container>.biography>.detail>h3{
    margin-bottom: 30px;
    color: #B6B6B6;
    font-weight: 400;
}
#aboutme>.container>.biography>.detail>p{
    font-size: 17px;
    line-height: 27px;
    color: #2C2F3F;
}
#aboutme>.container>.biography>.detail>p>mark{
    background-color: transparent;
    font-weight: 600;
    color: #190AB2;
}
#aboutme>.container>.iwill{
    position: absolute;
    top: 660px;
    width: 100%;
    height: 690px;
    color: #000;
    text-align: left;
    background-color: /*rgba(44,47,63,0.4)*//*#2C2F3F*/;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#aboutme>.container>.iwill>div{
    position: absolute;
    left: 7%;right: 7%;
    margin: 100px 0;
    color: #B6B6B6;
    
}
#aboutme>.container>.iwill>div>h3{color: #fff;}

#aboutme .iwill>div>.cursor{
    display: block;
    position: absolute;
    top: 450px;
    left: 135px;
    width: 38px;
    height: 50px;
    color: #000;
    font-size: 20px;
    line-height: 120px;
    
    background-image: url(../images/cursor.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: cursor;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
    
}
@keyframes cursor{
    0%{
        opacity:0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }
    30%{
        top: 435px;
        opacity:1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
	100%{
        opacity:0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }
}

#aboutme .iwill>div>dl{
    display: block;
	position:absolute;
	top:125px;
	width:300px;
    height: 300px;
	color: transparent;
    text-align: center;
    background-color: #fff;
	border:2px solid white;
    border-radius:150px;
    cursor: pointer;
    transition: all 0.7s;
}
#aboutme .iwill>div>dl>dt:after{
    position: absolute;
    top: 135px;
    left: 70px;
    color: rgba(0,0,0,0.7);
    font-size: 40px;
    
    content: '신입 은지';
}
#aboutme .iwill>div>dl:nth-child(4)>dt:after{
    left: 100px;
    content: '2년차';
}
#aboutme .iwill>div>dl:nth-child(5)>dt:after{
    left: 100px;
    content: '5년차';
}
#aboutme .iwill>div>dl:hover>dt:after{
    color: transparent;
}
#aboutme .iwill>div>dl:after{
    
}
#aboutme .iwill>div>dl:hover{
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    transform: rotateY(360deg);
    transition: all 0.7s;
}
#aboutme .iwill>div>dl:nth-child(3){left:0;}
#aboutme .iwill>div>dl:nth-child(4){left:50%;margin-left:-150px;}
#aboutme .iwill>div>dl:nth-child(5){right:0;}

#aboutme .iwill>div>dl>dt{
    margin-top: 62px;
    font-size: 20px;line-height: 40px;
}
#aboutme .iwill>div>dl>dt+dd{
    margin: 20px 10px;
    font-size: 14px;
    text-align: center;
    line-height: 1.6;
}

@media screen and (max-width:768px){
    header~section>h2{
        font-weight: 600;
        font-size:50px;/*수정*/
    }
    #aboutme{
        height: 2240px;/*수정*/}
    #aboutme>.container>.profile>div.photo{
        top: 300px;/*수정*/
        left: 7%;/*수정*/
    }
    #aboutme .myphoto>ul{
        width: 420px;/*수정*/
        margin-left: 0;/*수정*/
    }
    #aboutme .myphoto>ul>li:nth-child(1){
        display: none;/*수정*/
    }
    #aboutme>.container>.profile>div>ol{
        padding:0 20px 30px 0;/*수정*/
    }
    #aboutme>.container>.profile>.about>.txt{
        font-size: 20px;/*수정*/
    }
    #aboutme>.container>.profile>.about>.txt>li{
        font-size: 15px;/*수정*/
    }
    #aboutme>.container>.profile>.about>ul{
        top: 155px;/*수정*/
        
    }
    
    #aboutme>.container>.biography{
    
    position: absolute;
    top: 420px;
    width: 100%;height: 140px;
    color: #000;
    text-align: right;
    /*outline: 1px solid blue;*/
    }
    #aboutme>.container>.biography>.detail{
        position: absolute;right: 7%;top: 350px;
        margin-bottom:60px;
    }
    #aboutme>.container>.biography>.detail>h3{
        margin-bottom: 30px;
        color: #B6B6B6;
        font-weight: 400;
    }
    #aboutme>.container>.biography>.detail>p{
        font-size: 15px;
        line-height: 27px;
        color: #190AB2;
    }
    #aboutme>.container>.biography>.detail>p>mark{
        background-color: transparent;
        font-weight: 600;
    }
    #aboutme>.container>.iwill{
        top: 1000px;/*수정*/
        height: 1150px;/*수정*/
        background-image: url(../images/bg_mini.jpg);
    }
    #aboutme>.container>.iwill>div{
        margin: 50px 0;/*수정*/
    }
    #aboutme .iwill>div>.cursor{
        display: none;/*수정*/
    }
    
    #aboutme .iwill>div>dl:nth-child(3){
        left:50%;/*수정*/
        margin-left: -150px;/*수정*/
        top: 70px;/*수정*/
    }
    #aboutme .iwill>div>dl:nth-child(4){
        left:50%;/*수정*/
        margin-left: -150px;/*수정*/
        top: 390px;/*수정*/
    }
    #aboutme .iwill>div>dl:nth-child(5){
        left:50%;/*수정*/
        margin-left: -150px;/*수정*/
        top: 710px;/*수정*/}
}/* end of @media header*/

/*skill*/
#ability{
	width:95%;
	margin:0 auto;
	padding-bottom:50px;
}
#ability>article.coding{margin-bottom:70px;}
#ability>.container>.profile>.about>.txt{
    position: absolute;
    left: 7%;
    color: #B6B6B6;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 25px;
    /*font-family: 'Libre Baskerville', serif;*/
    font-weight: 400;
}
#ability>.container>.profile>.about>.txt>li{
    font-size: 15px;
}
#ability>.container>.profile>.about>.txt>li>strong{font-weight: 400;}
#ability>.container>.profile>.about>.txt>li>span{font-family: NanumSquare, sans-serif;}
#ability>.container>.profile>.about>ol{
    top: -10px;
}

#ability>.container>.profile>.about>ul{
    top: 190px;
}

/*스킬*/
#skill{height: 682px;}
#skill>.abilty-text{
    position: absolute;
    left: 7%;
    width: 44%;
    height: 490px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    background-color: rgba(36,31,63,0.06);  
}
#skill>.abilty-click{
    position: absolute;
    right: 7%;
    width: 43%;
    height: 490px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-weight: 800;
    text-transform: uppercase;
    
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    background-image: url(../images/me_bg.png);
    background-size: cover;
}
#skill>.abilty-click>a{
    display: block;
    color: #190AB2;
    font-size: 50px;
    line-height: 220px;
    animation-name:click;
	animation-duration:0.8s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}
@keyframes click{
	0%{top:5px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
	
	30%{top:10px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
	
	100%{top:25px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
}

/*display: none; bar 전체*/
#skill>.stick{
    margin-top:82px;
}
#skill>.stick>article{
	width:46%;
}
#skill>.stick>article>div{
    margin-left: 80px;
    margin-bottom:67px;
}
#skill>.stick>article>div>h3{
	float:left;
	width:17%;
	height:10px;
	padding-right:7%;
	color:gray;
	font-weight:600;
	font-size:18px;
	line-height:10px;
	text-align:right;
}
#skill>.stick>article>div>.progress{
	float:left;
	position:relative;
	width:75%;
	height:13px;
	background-color:#fff;
	border-radius:5px;
}

#skill>.stick>article>div>.progress>.bar{
	height:100%;
	width:0;/*js에서 동적으로 할당*/
	background-color:#4D6DE3;
	transition:all 2s ease-in-out;
    animation-name:bar;
	animation-duration:1.5s;
	animation-timing-function:linear;
}
#skill>.stick>article>div>.progress>.bar>span{
	position:absolute;
	top:-20px;
	right:15px;
}
@keyframes bar{
	0%{background-color:#000;}
    
    70%{background-color:#384162;}
	
	100%{background-color:#4D6DE3;}
}
#skill>.abilty-text>div{
    display: none;
    margin: 20px 15px;
    text-align: left;}
#skill>.abilty-text>div:nth-child(2),
#skill>.abilty-text>div:nth-child(3),
#skill>.abilty-text>div:nth-child(6){text-align: right;margin-right: 30px;}

#skill>.abilty-text>div:nth-child(3),
#skill>.abilty-text>div:nth-child(5){margin-top: -20px;}
#skill>.abilty-text>div>h3{
    color: #190AB2;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
#skill>.abilty-text>div>p{
    color: #000;
    font-size: 12px;
    line-height: 16px;
}


@media screen and (max-width:768px){
    #skill{
        height: 1150px;/*수정*/}
    #skill>.abilty-text{
        right: 7%;/*수정*/
        width: 86%;/*수정*/
    }
    #skill>.abilty-click{
        display: none;/*수정*/
    }
    /*display: none; bar 전체*/
    #skill>.stick{
        margin-top:582px;/*수정*/
    }
    #skill>.stick>article{
        width:87%;/*수정*/
    }
    #skill>.abilty-text>div{
        display: block;/*수정*/
    }
    #skill>.abilty-text>div:nth-child(1){
        margin-top: 30px;/*수정*/
    }
    #skill>.stick>article>div>.progress{
        background-color:#dedede;/*수정*/
    }

   
}/* end of @media #skill*/


/*#portfolio*/
#portfolio{
    background-color: #f4f4f4;
}
#portfolio>.container{
    width: 86%;
    margin: 60px auto 0;
    font-size: 20px;
    text-transform: uppercase;
}

#portfolio>.container>nav{margin-bottom:35px;}
#portfolio>.container>nav>.filter{
	width:570px;
	margin:0 auto;
}
#portfolio>.container>nav>.filter>li{
	float:left;
	margin-right:20px;
}
#portfolio>.container>nav>.filter>li:last-child{margin-right:0;}
#portfolio>.container>nav>.filter>li>a{
	display:block;
    
	padding:0 15px;
	text-align:center;
}
#portfolio>.container>nav>.filter>li:hover>a,
#portfolio>.container>nav>.filter>li.on>a{
	position:relative;
    color: #2a3ae4;

}

#portfolio>.container>.grid>.item{
	float:left;
	width:465px;
	min-height:282px;
	padding:0 5px;
}
/*마지막것*/
#portfolio>.container>.grid>.lastitem{
        min-height:392px;/*수정*/
}
#portfolio>.container>.grid>.item>.frame>a{
    display: block;
    width:465px;
    height:100%;
    
}
#portfolio>.container>.grid>.item>.frame .cont{
	overflow:hidden;
	position:relative;
	height:272px;
    cursor: pointer;
}
#portfolio>.container>.grid>.item>.frame .cont:after{
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(26,30,31,0.8);
	opacity:0;
	transition:all 0.4s;
	content:'';
}

#portfolio>.container>.grid>.item>.frame .cont:hover:after{
    opacity:1;
}
/****************p태그 호버했을 때로 변경하기********************/
#portfolio>.container>.grid>.item>.frame .cont>p{
    display: none;
    transition: all 2s;
}
#portfolio>.container>.grid>.item>.frame .cont:hover>p{
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.6;
    transition: all 2s;
    z-index: 100;
}

#portfolio>.container>.grid>.item>.frame .cont>p>.cont-tit{
    display: block;
    margin-top: 20px;
    margin-bottom: -10px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

#portfolio>.container>.grid>.item>.frame .cont>img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display:block;
    width:100%;
    z-index: -1;
}


.cont>.tit{
	position:absolute;
	left:0;
	bottom:-100%;
	width:100%;
    height: 45px;
	background-color:rgba(26,30,31,0.8);
	z-index:1;
	transition:all 0.4s;
}

.cont:hover>.tit{
    bottom: 0;
    
}
#portfolio>.container>.grid>.item>.frame .cont>.tit>h3{
	height:45px;
	color:#fff;
    font-weight: 400;
	font-size:17px;
	line-height:45px;
	letter-spacing:1px;
	text-align:center;
    text-transform: inherit;
    
}
/***js로 body에 overflow : hidden 주기***/

/*
.portfolio-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    z-index: 900;
    overflow: hidden;
}
.portfolio-box>.box-shadow{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#box-slides{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%;
    width: 80%;
    height: 90%;
    background-color: #fff;
}
#box-slides>.box-container{
    position: absolute;
    margin-top: 5%;
    bottom: 5%;
    left: 6%;
    right: 6%;
    top: 0;
    width: 88%;
    outline: 1px solid red;
}
.box-container>li{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 1px solid blue;

}
.box-container>li:nth-child(1)>ol>li{
    
}
.box-container>li:nth-child(1)>div>h3{
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -45px;
    color: #000;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;

    
}
.box-container>li:nth-child(1)>div>div{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -35%;
    width: 70%;
    height: 80%;
    text-indent: -9999px;
    background-image: url(../images/portfolio/light-box/box-run.png);
    -webkit-background-size: contain;
    background-size:contain;
    background-repeat: no-repeat;
}
.box-container>li:nth-child(1)>div>p{
    position: absolute;
    top: ;
}
.portfolio-box .box-clse{
    position: absolute;
    right: 5px;
    top: 15px;
    color: #000;
    font-size: 50px;
    cursor: pointer;
}
 
*/

@media screen and (max-width:768px){
    #portfolio>.container{
        font-size: 15px;/*수정*/
    }
    #portfolio>.container>nav>.filter>li{
        margin-right:4.5px;/*수정*/
    }
    #portfolio>.container>.grid>.item{
        width:420px;/*수정*/
        min-height:282px;/*수정*/
    }
    #portfolio>.container>.grid>.lastitem{
        min-height:392px;/*수정*/
    }
    #portfolio>.container>.grid>.tous{
        min-height:285px;/*수정*/
    }
    #portfolio>.container>.grid>.item>.frame>a>.cont{
        height:270px;/*수정*/
    }

}/*end of #portfolio*/


/*contact*/
#contact{}
#contact>div{}
#contact>div>h3{}


#contact>div{
    position: relative;
	padding:25px 20px 30px 0;
    color: #2C2F3F;
}
#contact>div>h3{
    position: absolute;
    left: 7%;
    color: #B6B6B6;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

#contact>div>p{
    position: inherit;
    margin-left: 7%;
    font-size: 18px;
    margin-bottom: 17px;
}
#contact>div>p>a{
    display: block;
    color: #190AB2;
}
.callme{
    margin-top: 100px;
    line-height: 26px;
}
#contact>div>.phone{
    margin-top: 55px;
}



#map{
    position: absolute;
    left: 50%;
    top: -0px;
    width: 700px;
    height:400px;
}

@media screen and (max-width:768px){
    .callme{
        display: none;
    }
    #map{
        position: inherit;
        margin: 35px auto 0;
        top: 0;
        left: 0px;
        width: 86%;
        height:300px;
    }
}

.epilogue{
    margin-top: 50px;
    background-color: #F4F4F4;
}
.epilogue>h3{
    margin-top: 50px;
    margin-bottom: 20px;
}
.epilogue_me{
    margin-top: 120px;
    margin-left: 7%;
    margin-right: 7%;
}

.epilogue_me>dl{
    float: left;
    width: 20%;
    height: 320px;
    margin-bottom: 100px;
    margin-left: 6.6%;
    text-align: center;
    background-color: #E9E9E9;
    box-shadow: 0 0 20px rgba(73,88,247,0.6);
    transition: all 1s;
}
.epilogue_me>dl:nth-child(1){
    margin-left: 0;
}
.epilogue_me>dl:hover{
    display: block;
    color: #000C8D;
    background-color: #fff;
    transition: all 1s;
}
.epilogue_me>dl:hover>dt{
    font-weight: 700;
}
.epilogue_me>dl>dt{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    
}
.epilogue_me>dl>dt:before{
    content: '';
    display: block;
    margin: 20px 0 20px 60px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
.epilogue_me>dl:nth-child(1)>dt:before{
    background-image: url(../images/epiloge/hj.jpg);
    background-position: 0 -40px;
    -webkit-background-size: 110%;
    background-size:110%;
    
}
.epilogue_me>dl:nth-child(2)>dt:before{
    background-image: url(../images/epiloge/sz.jpg);
    background-position: 5px 0;
    -webkit-background-size: 90%;
    background-size:90% ;
}
.epilogue_me>dl:nth-child(3)>dt:before{
    background-image: url(../images/epiloge/ja.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: -10px 0;
}
.epilogue_me>dl:nth-child(4)>dt:before{
    background-image: url(../images/epiloge/sg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: -5px 0;
}

.epilogue_me>dl>span{
    display: block;
}
@media screen and (max-width:768px){
    .epilogue_me>dl:nth-child(1){
        margin-left: 50px;
    }
    .epilogue_me>dl{
        position: relative;
        float: initial;
        margin-left: 50px;
        width: 300px;
        height: 320px;
    }
    .epilogue_me>dl>dt:before{
        position: absolute;
        margin-left: 75px;
    }
    .epilogue_me>dl>dt{
        position: absolute;
        
        line-height: 390px;
        z-index: 100;
    }
    .epilogue_me>dl:nth-child(1)>dt{
        text-indent: 72px;
    }
    .epilogue_me>dl:nth-child(2)>dt,
    .epilogue_me>dl:nth-child(3)>dt{
        text-indent: 95px;
    }
    .epilogue_me>dl:nth-child(4)>dt{
        text-indent: 80px;
    }
    .epilogue_me>dl>dd{
        position: absolute;
        top: 210px;
    }
}








/*aside*/
aside{
    display: none;
    position: fixed;
    width:50px;
    height:50px;
    right: 10px;
    bottom: 15px;
    z-index: 900;
}


aside>a{      
   display:block;
   width:50px;
   height:50px;

}
aside>a>i{
    display:block;
    font-size: 50px;
    
}


aside>a:link{color:rgba(0,0,0,0.3);}

aside>a:hover{
    color:#190AB2;
}

@media screen and (max-width:768px){
   aside{
       
      right:5px;
      bottom:20px;
   }
    aside>a{
        font-size: 40px;
    }
    aside>a>i{
        font-size: 40px;
    }
}


footer{
    height: 100px;
    background-color: gray;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    background-image: url(../connect/insta/images/bg_text.png);
    background-size: 10%;
}
footer h2{
    padding-top: 6px;
    font-size: 14px;
}