@charset "utf-8";

/*공통요소*/
.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}
.sr-only{position:absolute;left:-9999px;}

#wrap{margin:0 auto;}

/*상단메뉴*/

header{width:100%;margin:0 auto;
margin-bottom:30px;
background-color:#009DDF;height:88px;}
header>#top{/******/position:relative;height:88px;margin:0 auto;
}
header>#top>.h1_top{width:100%;margin:0 auto;background-color:#B9B9B9;}
header>#top>.h1_top>h1{width:940px;height:35px;text-indent:-9999px;background-color:#B9B9B9;margin:0 auto;}
header>#top>.h1_top>h1>span{position:absolute;display:block;width:940px;height:35px;}
header>#top>.h1_top>h1>span>a:first-child{position:absolute;right:105px;top:-11px;display:block;width:82px;height:25px;background-image:url(../images/sampyo_btn_1_en.gif);}
header>#top>.h1_top>h1>span>a:last-child{position:absolute;right:0;top:-11px;display:block;width:100px;height:25px;background-image:url(../images/sampyo_btn_2_mail.gif);}



/*2중구조 상단메뉴*/
header>#top>.nav_top>nav{width:940px;margin:0 auto;height:53px;background-color:#009DDF;}

/*로고이미지*/

header>#top>.nav_top>nav>span>a{position:absolute;top:0;display:block;width:140px;height:88px;background-image:url(../images/sampyo_mainlogo_1.gif);text-indent:-9999px;z-index: 1000;}


/*상단메뉴*/
header>#top>.nav_top>nav{height:53px;}
header>#top>.nav_top>nav>.gnb{position:relative;height:53px;line-height:53px;}
header>#top .gnb>li{width:144px;text-align:center;}
header>#top .gnb>li>a{position:absolute;top:0;color:#fff;font-size:15px;font-weight:600;border-right:1px solid #2FBFEF;box-sizing:border-box;
}
header>#top .gnb>li:nth-child(1)>a{left:140px;width:155px;}
header>#top .gnb>li:nth-child(2)>a{left:295px;width:155px;}
header>#top .gnb>li:nth-child(3)>a{left:450px;width:180px;}
header>#top .gnb>li:nth-child(4)>a{right:155px;width:155px;}
header>#top .gnb>li:nth-child(5)>a{right:0;width:155px;}
/*hover*/
header>#top>nav>.nav_top>.gnb>li>a:hover{color:black;background-color:#FFF;}


/*서브메뉴*/
header>#top .gnb .sub{position:absolute;top:0;left:0;display:none;width:940px;}

header>#top .gnb .submnu_1{width:755px;padding-left:185px;top:53px;}
header>#top .gnb .submnu_2{width:755px;padding-left:185px;top:53px;}
header>#top .gnb .submnu_3{width:520px;padding-left:420px;top:53px;}
header>#top .gnb .submnu_4{width:385px;padding-left:555px;top:53px;}
header>#top .gnb .submnu_5{width:385px;padding-left:555px;top:53px;}


header>#top .gnb .sub>li{float:left;}
header>#top .gnb .sub>li>a{display:block;padding:0 10px;height:30px;color:#CBCBCB;font-weight:600;line-height:30px;}


/*메인hover*/
header>#top .gnb>li.on>a,
header>#top .gnb>li:hover>a{display:block;color:black;background-color:#FFF;}

/*서브hover*/
header>#top>.nav_top>nav>.gnb .sub>li>a:hover{display:block;color:gray;font-weight:700;}

/*메인hover 파란줄 디자인*/
.gnb>li.on>a:after,
.gnb>li:hover>a:after{content:'';position:absolute;left:50px;bottom:0;
width:53px;border:3px solid #009DDF;box-sizing:border-box;}
.gnb>li.on:nth-child(3)>a:after,
.gnb>li:nth-child(3):hover>a:after{
left:45px;width:85px;}




/*****section******/
section{
	width:940px;margin:0 auto 30px;
	height:1750px;/***전체높이 다시 조정***/
	}
	

section>.contain{
	position:relative;
	margin-bottom:30px;
	width:940px;
	height:240px;/**pos:f했을 때, 150px 되야하는 부분**/
	background-image:url(../images/sampyo_social_benner.jpg);
	border:1px solid #fff;;
	
	}

section>.contain>.fixed{
	position:static;left:0;top:0;
	height:240px; /*pos:f했을 때, 150px 되야하는 부분*/
	
}
section>.contain>.fixed>h2{
	
	width:146px;height:43px;text-indent:-9999px;
	position:absolute; left:50px;top:30px;
	background-image:url(../images/sampyo_social_benner_text.png);}

section>.contain>.fixed>.select_box{
	position:absolute;left:50px;top:150px;
	width:840px;height:50px;line-height:50px;background-color:#FFF;
	
}

.select_box>button.home{

	position:absolute;left:0;top:0;
	width:50px;height:50px;text-indent:-9999px;
	background-image:url(../images/sampyo_intro_srch_img_1.gif);
	background-repeat:no-repeat;
	background-position:50% 50%;
	cursor:pointer;
	
	
}
button{
	background: none;border: none;outline: none;
	cursor:pointer;
	
}
.select_box>button.home>span{
	position:absolute;left:50px;top:0;
	display:block;width:17px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_2.gif);
	
}

/*삼표소개 box*/
.select_box>input{
	background: none;border: none;outline: none;
	position:absolute;left:70px;top:0;
	width:100px;height:48px;
	font-size:12px;text-indent:17px;font-weight:700;
	background-color:#FFF;cursor:pointer;

}


.select_box>button.arr{
	position:absolute;left:172px;/****************/
	width:24px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_3.gif);
	
}

/*항목임_1*/
.contain>.fixed>.list{display:none;/**/
position:absolute;top:200px;left:110px;
background-color:#FFF;
width:100px;height:145px;font-size:11px;text-align:center;
border:1px solid #0AA1E1;box-sizing:border-box;border-radius:5px;
box-shadow:1px 1px 10px gray;
z-index:100;
}

.contain>.fixed>.list li{height:28px;line-height:28px;}
.contain>.fixed>.list li>a{display:block;
height:28px;}





/*2*/

.select_box_2>input{
	background: none;border: none;outline: none;
	
	position:absolute;left:248px;top:150px;
	width:100px;height:47px;
	font-weight:700;
	font-size:12px;text-indent:19px;/*************/
	
	background-color:#FFF;cursor:pointer;


}


.select_box_2>button.arr{
	position:absolute;left:340px;top:151px;
	width:24px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_3.gif);
	
}

/*항목임_2*/
.contain>.fixed>.list_2{display:none;/**/
position:absolute;top:200px;left:238px;
background-color:#FFF;
width:100px;height:90px;font-size:11px;text-align:center;
border:1px solid #0AA1E1;box-sizing:border-box;border-radius:5px;
box-shadow:1px 1px 10px gray;
z-index:100;
}

.contain>.fixed>.list_2 li{height:28px;line-height:28px;}
.contain>.fixed>.list_2 li>a{display:block;
height:28px;}
/*hover*/
.contain>.fixed>.list>ul>li.on>a,
.contain>.fixed>.list_2>ul>li.on>a,
.contain>.fixed>.list>ul>li:hover>a,
.contain>.fixed>.list_2>ul>li:hover>a{
	color:#0AA1E1;
}



/*3*/
.select_box_3>input{
	background: none;border: none;outline: none;
	position:absolute;left:368px;top:150px;
	width:100px;height:47px;
    color: #0AA1E1;
	font-weight:700;
	font-size:12px;text-indent:19px;/*************/
	
	background-color:#FFF;cursor:pointer;}
.select_box_3>button.arr{
	position:absolute;left:455px;top:151px;
	width:24px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_4.gif);
}

/*항목임_3*/
.contain>.fixed>.list_3{display:none;
position:absolute;top:200px;left:358px;
background-color:#FFF;
width:100px;height:115px;font-size:11px;text-align:center;
border:1px solid #0AA1E1;box-sizing:border-box;border-radius:5px;
box-shadow:1px 1px 10px gray;
z-index:100;
}

.contain>.fixed>.list_3 li{height:28px;line-height:28px;}
.contain>.fixed>.list_3 li>a{display:block;
height:28px;}
/*hover*/
.contain>.fixed>.list>ul>li.on>a,
.contain>.fixed>.list_3>ul>li.on>a,
.contain>.fixed>.list>ul>li:hover>a,
.contain>.fixed>.list_3>ul>li:hover>a{
	color:#0AA1E1;
}




/*******addClass("on")********/

section>.contain>.fixed.on{
	
	position: fixed;
    left: 50%;top:0;
    margin-left:-470px;
	
	z-index:100;
	width:940px;
	height:150px;	
	
	
background-image:url(../images/sampyo_social_benner.jpg);
background-repeat:no-repeat;
}

section>.contain>.fixed.on>h2{
	
	width:146px;height:43px;text-indent:-9999px;
	position:absolute; left:50px;top:30px;
	background-image:url(../images/sampyo_social_benner_text.png);}

section>.contain>.fixed.on>.select_box{
	position:absolute;left:50px;top:85px;
	width:840px;height:50px;line-height:50px;background-color:#FFF;
	
}

.fixed.on>.select_box>button.home{

	position:absolute;left:0;top:0;
	width:50px;height:50px;text-indent:-9999px;
	background-image:url(../images/sampyo_intro_srch_img_1.gif);
	background-repeat:no-repeat;
	background-position:50% 50%;
	cursor:pointer;
	
	
}
.fixed.on button{
	background: none;border: none;outline: none;
	cursor:pointer;
	
}
.fixed.on>.select_box>button.home>span{
	position:absolute;left:50px;top:0;
	display:block;width:17px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_2.gif);
	
}

/*사회책임경영 box*/
.fixed.on>.select_box>input{
	background: none;border: none;outline: none;
	position:absolute;left:70px;top:0;
	width:100px;height:48px;
	font-size:12px;text-indent:17px;font-weight:700;
	background-color:#FFF;cursor:pointer;

}


.fixed.on>.select_box>button.arr{
	position:absolute;left:172px;top:0;/****************/
	width:24px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_3.gif);
	
}

/*항목임_1*/
.contain>.fixed.on>.list{display:none;/**/
position:absolute;top:135px;left:110px;
background-color:#FFF;
width:100px;height:145px;font-size:11px;text-align:center;
border:1px solid #0AA1E1;box-sizing:border-box;border-radius:5px;
box-shadow:1px 1px 10px gray;
z-index:100;
}

.contain>.fixed.on>.list li{height:28px;line-height:28px;}
.contain>.fixed.on>.list li>a{display:block;
height:28px;}





/*2*/
.fixed.on>.select_box_2{
position:absolute;top:-65px;/******/
}
.fixed.on>.select_box_2>input{
	background: none;border: none;outline: none;
	
	width:100px;height:48px;
	font-weight:700;
	font-size:12px;text-indent:19px;
	
	background-color:#FFF;cursor:pointer;


}


.fixed.on>.select_box_2>button.arr{
	position:absolute;left:340px;top:151px;
	width:24px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_3.gif);
	
}

/*항목임_2*/
.contain>.fixed.on>.list_2{display:none;/**/
position:absolute;top:135px;left:238px;
background-color:#FFF;
width:100px;height:90px;font-size:11px;text-align:center;
border:1px solid #0AA1E1;box-sizing:border-box;border-radius:5px;
box-shadow:1px 1px 10px gray;
z-index:100;
}

.contain>.fixed.on>.list_2 li{height:28px;line-height:28px;}
.contain>.fixed.on>.list_2 li>a{display:block;
height:28px;}

/*3*/
.fixed.on>.select_box_3>input{
	background: none;border: none;outline: none;
	position:absolute;left:368px;top:85px;
	width:100px;height:47px;
    color: #0AA1E1;
	font-weight:700;
	font-size:12px;text-indent:19px;/*************/
	
	background-color:#FFF;cursor:pointer;}
.fixed.on>.select_box_3>button.arr{
	position:absolute;left:455px;top:85px;
	width:24px;height:49px;
	background-image:url(../images/sampyo_intro_srch_img_4.gif);
}

/*항목임_3*/
.contain>.fixed.on>.list_3{display:none;
position:absolute;top:135px;left:358px;
background-color:#FFF;
width:100px;height:115px;font-size:11px;text-align:center;
border:1px solid #0AA1E1;box-sizing:border-box;border-radius:5px;
box-shadow:1px 1px 10px gray;
z-index:100;
}

.contain>.fixed.on>.list_3 li{height:28px;line-height:28px;}
.contain>.fixed.on>.list_3 li>a{display:block;
height:28px;}

/*hover*/
.contain>.fixed>.list>ul>li.on>a,
.contain>.fixed>.list_3>ul>li.on>a,
.contain>.fixed>.list>ul>li:hover>a,
.contain>.fixed>.list_3>ul>li:hover>a{color:#0AA1E1;}


/*icon*/

.icon{position:relative;}
.icon>p>a{display:none;position:absolute;top:10px;
text-indent:-9999px;background-repeat:no-repeat;}
.icon>p.icon_contact_us>a{right:62px;
width:100px;height:25px;margin-right:0;
background-image:url(../images/sampyo_btn_2_mail.gif);
background-size:contain;
}
.icon>p.icon_top>a{
right:5px;
width:53px;height:25px;
background-image:url(../images/sampyo_btn_3_top.gif);
background-size:contain;
}



/*contents*/

.contents{
	position:relative;
	width:940px;
	background-color:#FFF;
    
}

.contents>.contents_wrap{
	margin:40px 0;
    height: 1530px;
	border:1px solid #E5E5E5;
    box-sizing:border-box;
	background-color:#FFF;
}

.contents_wrap>.contribution>ul{
margin: 50px 50px 70px 50px;}
.contents_wrap>.contribution>ul>li:nth-child(1){
    width: 779px;   height:75px;text-indent: -9999px;
    background-image: url(../images/sampyo_social_tit.gif);}
.contents_wrap>.contribution>ul>li:nth-child(2){float: left;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    
    border-top: 3px solid #0AA1E1;}

.contents_wrap>.contribution>ul>li:nth-child(2)>span{
    display: block;margin-top: 10px;
    width: 122px; height: 22px;
    text-indent: -9999px;
    background-image: url(../images/sampyo_social_tit_1.gif);}
.contribution>ul>li:nth-child(3){
    margin-top: 70px;margin-left: 188px;line-height: 17px;
}
.contribution>ul>li:nth-child(3)>strong{color: #0AA1E1;}

.contribution>ul>li:nth-child(4){
    margin-top: 20px;
    margin-left: 188px;
    width: 650px;height: 384px;
    background-image: url(../images/sampyo_social_img_1.jpg);}

.contribution>ul>li:nth-child(5){margin-left: 188px;margin-top: 30px;line-height: 17px;}
.charity>.scholarship{margin-left: 50px;}
.charity>ul>li{margin-left: ;}
.charity>ul.scholarship>li:nth-child(1){float: left;
    
    width: 150px;
    height: 76px;
    border-top: 3px solid #0AA1E1;
}

.scholarship>li:nth-child(1)>span{
    display: block;margin-top: 10px;
    width: 76px;height:49px;text-indent: -9999px;
    background-image: url(../images/sampyo_social_tit_2.gif);
}

.scholarship>li:nth-child(2),.scholarship>li:nth-child(3),.scholarship>li:nth-child(4),.scholarship>li:nth-child(5),.scholarship>li:nth-child(6),.scholarship>li:nth-child(7),.scholarship>li:nth-child(8),.scholarship>li:nth-child(9){
    margin-left: 188px;
}
.scholarship>li:nth-child(2){margin-bottom: 30px;
    width: 75px;height: 22px;text-indent: -9999px;background-image: url(../images/sampyo_social_tit_2-1.gif);}
.scholarship>li:nth-child(3){
    margin-bottom: 20px;
}
.scholarship>li:nth-child(4),.charity>.scholarship>li:nth-child(6){color: #0AA1E1;margin-bottom: 7px;}
.scholarship>li:nth-child(5),.scholarship>li:nth-child(7){text-indent: 15px;margin-bottom: 20px;}
.scholarship>li:nth-child(8){margin-top: -13px;text-indent: 15px;margin-bottom: 20px;}
.scholarship>li:nth-child(9){
    width: 650px;height: 187px;text-indent: -9999px;
    background-image: url(../images/sampyo_social_img_2.jpg);}

.service{float: left;margin: 50px 30px 50px 50px;margin-left: 238px;width: 310px;}
.service>li{}
.service>li:nth-child(1){
    width: 76px;height: 22px;text-indent: -9999px;background-image: url(../images/sampyo_social_tit_2-2.gif);}
.service>li:nth-child(2){margin: 20px 0;}
.service>li:nth-child(3),.service>li:nth-child(5){color: #0AA1E1;margin-bottom: 7px;}
.service>li:nth-child(4),.service>li:nth-child(6){color: #0AA1E1;text-indent: 15px;margin-bottom: 15px;}

.study{float: left;}
.study>li{}
.study>li:nth-child(1){
    margin-top: 50px;
    width: 76px;height: 22px;text-indent: -9999px;background-image: url(../images/sampyo_social_tit_2-3.gif);}
.study>li:nth-child(2){margin-top: 20px;}
.study>li:nth-child(3){margin-top: 7px;}
.study>li:nth-child(4){margin-top: 15px;color: #0AA1E1;}
.study>li:nth-child(5){margin-top: 10px;text-indent: 15px;}
.study>li:nth-child(6){margin-top: 7px;text-indent: 15px;}
.study>li:nth-child(7){margin-top: 15px;color: #0AA1E1;}
.study>li:nth-child(8){margin-top: 7px;text-indent: 15px;}
.study>li:nth-child(9){margin-top: 7px;text-indent: 15px;}







/*****article*****/
article{
	display:none;
	
	width:100%;border-top:4px solid #6A6A6A;height:430px;}
article>h2{text-indent:-9999px;}
article>.mnu_list{width:940px;margin:0 auto;}

article>.mnu_list>.all_mnu>div{float:left;
/********height나중에 조정*******/
height:414px;width:188px;border-left:1px solid #E6E6E6;box-sizing:border-box;}
article>.mnu_list>.all_mnu>div.list_5{
	border-right:1px solid #E6E6E6;box-sizing:border-box;
}
article>.mnu_list>.all_mnu>div>h3{
	margin:0 25px 5px;
	height:30px;line-height:30px;
	color:#000;font-size:13px;font-weight:800;
	}

article>.mnu_list>.all_mnu>div>ul{margin:0 25px -20px 25px;}
article>.mnu_list>.all_mnu>div>ul>li{
	width:136px;
	line-height:25px;
	font-size:12px;
	
	border-bottom:1px solid #E6E6E6;}
article>.mnu_list>.all_mnu>div>ul>li>a{width:136px;height:20px;}









/*****footer******/
footer{
	width:100%;height:100px;
	background-color:#B9B9B9;
}
footer>.footer_wrap{
	position:relative;
	margin:0 auto;width:940px;height:97px;color:#fff;
}
footer>.footer_wrap>address{position:absolute; top:30px;width:100%;letter-spacing:-0.6px;}
footer>.footer_wrap>address>span{
	display:block;width:100%;position:absolute;top:20px;font-size:11px;letter-spacing:0.6px;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);}

	
/*아이콘*/
footer>.footer_wrap>.icon_wrap{position:absolute;right:0;top:35px;}
footer>.footer_wrap>.icon_wrap>span{float:left;display:block;margin-left:5px;background-repeat:no-repeat;height:28px;text-indent:-9999px;}
footer>.footer_wrap>.icon_wrap>span:nth-child(1){background-image:url(../images/sampyo_footer_btn_1.gif);width:103px;}
footer>.footer_wrap>.icon_wrap>span:nth-child(2){background-image:url(../images/sampyo_footer_btn_2.gif);width:139px;}
footer>.footer_wrap>.icon_wrap>span:nth-child(3){background-image:url(../images/sampyo_footer_btn_3.gif);width:98px;}
footer>.footer_wrap>.icon_wrap>span:nth-child(4){background-image:url(../images/sampyo_footer_btn_4.gif);width:98px;}
footer>.footer_wrap>.icon_wrap>span:nth-child(5){background-image:url(../images/sampyo_footer_btn_5.gif);width:53px;}

footer>.footer_wrap>.icon_wrap>span>a{display:block;height:28px;}


/*패밀리사이트의 서브메뉴*/

@keyframes site_sub_mnu{
    0%{
        top: -25px;
        opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        
    }
    
    50%{
        opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        
    }
    100%{
    width: 98px;
     height: 120px;   opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
footer>.footer_wrap>.site_sub_mnu{
	display:none;
	position:absolute;right:162px;top:-90px;width:98px;height:120px;
    
    animation-name: site_sub_mnu;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
}


@keyframes sub_mnu_down{
    100%{
        top: -25px;
        opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        
    }
    
    50%{
        opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        
    }
    0%{
    width: 98px;
     height: 120px;   opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
footer>.footer_wrap>.site_sub_mnu.on{
	/*display:none;*/
	position:absolute;right:162px;top:-90px;width:98px;height:120px;
    
    animation-name: sub_mnu_down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
}



footer>.footer_wrap>.site_sub_mnu>ul{border:1px solid #009DDF;border-radius:15px;width:98px;height:110px;line-height:17px;text-indent:10px;margin-top:10px;background-color:#FFF;}
footer>.footer_wrap>.site_sub_mnu>ul>li:hover>a{
	color:#000;
}
footer>.footer_wrap>.site_sub_mnu>ul>li:nth-child(1){margin-top:5px;}
footer>.footer_wrap>.site_sub_mnu>ul>li>a{display:block;color:#009DDF;font-size:11px;}




.family_site{
	
}



