@charset "utf-8";

/*공통요소*/
.clearfix{*zoom:1;}
.clearfix:after{display: block;clear: both;content:'';}
.sr-only{position:absolute;text-indent:-9999px;}

body{
    overflow: scroll;
    overflow: hidden;
    
}
#wrap{
    position: relative;
}

header{
	position:fixed;
	right:30px;
	top:50%;
    z-index: 1000;
   }
header>.logo{
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    text-indent: -9999px;
    background-image: url(../images/logo.png);
    background-position: 0 70px;
    
}
header>.logo>a{
    display: block;
    width: 70px;height: 70px;
}
header>nav{
    
}
header>nav>.gnb{
    position: relative;
    width: 30px;
    height: 120px;
    margin-top: -60px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 30px;
    
}
header>nav>.gnb>li{
    position: absolute;
    left: 50%;
    margin-left: -3px;
    
}
header>nav>.gnb>li:nth-child(1){top: 18px;}
header>nav>.gnb>li:nth-child(2){top: 44px;}
header>nav>.gnb>li:nth-child(3){top: 72px;}
header>nav>.gnb>li:nth-child(4){top: 98px;}
header>nav>.gnb>li>a{
	display:block;
    width: 6px;
    height: 6px;
    text-indent: -9999px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.8);
	
}
header>nav>.gnb>li.on>a{
    position: absolute;
    top: -2px;
    margin-left: -1px;
    width: 8px;
    height: 8px;
    background-color: #F37321;
}

/*상단 메뉴들 .logo와 같은 top값(30)을 가진다*/
.main-mnu{text-indent: -9999px;}

/*왼쪽메뉴*/
.left-mnu{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    z-index: 100;
}
.left-mnu>a{
    display: block;
    position: relative;
    height: 100%;
    
}
.left-mnu>a>span{
    display: block;
    position: absolute;
    width: 4px;height: 4px;
    background-color: #fff;
    
}
.left-mnu>a>.dot_1{top: 18px;left: 18px;}
.left-mnu>a>.dot_2{top: 18px;left: 33px;}
.left-mnu>a>.dot_3{top: 18px;left: 48px;}
.left-mnu>a>.dot_4{top: 33px;left: 18px;}
.left-mnu>a>.dot_5{top: 33px;left: 33px;}
.left-mnu>a>.dot_6{top: 33px;left: 48px;}
.left-mnu>a>.dot_7{top: 48px;left: 18px;}
.left-mnu>a>.dot_8{top: 48px;left: 33px;}
.left-mnu>a>.dot_9{top: 48px;left: 48px;}

@keyframes dot1{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 18px;left: 18px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot2{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 18px;left: 33px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot3{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 18px;left: 48px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot4{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 33px;left: 18px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot5{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot6{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 33px;left: 48px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot7{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 48px;left: 18px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot8{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 48px;left: 33px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}
@keyframes dot9{
    0%{
        
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    30%{
        top: 32px;left: 32px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
    100%{
        top: 48px;left: 48px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
}

.left-mnu>a:hover>span.dot_1{
    
    animation-name: dot1;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_2{
    
    animation-name: dot2;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_3{
    
    animation-name: dot3;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_4{
    
    animation-name: dot4;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_5{
    
    animation-name: dot5;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_6{
    
    animation-name: dot6;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_7{
    
    animation-name: dot7;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_8{
    
    animation-name: dot8;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.left-mnu>a:hover>span.dot_9{
    
    animation-name: dot9;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

/*오른쪽메뉴*/
.right-mnu{
    position: fixed;
    top: 30px;
    right:  30px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    z-index: 100;
}
.right-mnu>a{
    display: block;
    position: relative;
    height: 100%;
    
}
.right-mnu>a>span{
    display: block;
    position: absolute;
    left: 17px;
    width: 35px;height: 4px;
    background-color: #fff;
}
.right-mnu>a>span.line_1{
    top: 20px;
}
.right-mnu>a>span.line_2{
    top: 32px;
}
.right-mnu>a>span.line_3{
    top: 45px;
}

@keyframes line1{
    
    50%{
        width: 0;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
}
@keyframes line2{
    
    30%{
        width: 0;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
}
@keyframes line3{
    
    30%{
        width: 0;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }
    
}

.right-mnu>a:hover>span.line_1{
    animation-name: line1;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.right-mnu>a:hover>span.line_2{
    animation-name: line2;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}
.right-mnu>a:hover>span.line_3{
    animation-name: line3;
    animation-duration: 0.9s;
    animation-timing-function: linear;
}

/*마우스휠*/
.mouse-icon{
    position: fixed;
    left: 50%;
    bottom: 30px;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    z-index: 100;
}
.mouse-icon>.wheel{
    position: absolute;
    left: 50%;
    width: 4px;
    height: 6px
        ;margin-left: -2px;
    text-indent: -9999px
        ;background-color: #fff;
    border-radius: 3px;
    animation-name: mousewheel;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes mousewheel{
    0%{
        top: 5px;
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }
    30%{
        top: 10px;
        opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
    100%{
        top: 35px;
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }
}


/*상단으로 이동*/
.top{
    position: fixed;
    bottom: 35px;
    right: 25px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}
.top>.top-btn{display: block;
    width: 50px;height: 50px;
    color: rgba(255,255,255,0.5);
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50px;
    }
.top>.top-btn:hover{
    color: #fff;
    background-color: #F37321;
}


/*cont*/
section>article{
	width:100%;
}
/*cont_0*/
.cont_0{
    width: 100%;
    height: 100%;
    position: relative;
}
.slides-container{
    width: 100%;
    height: 100%;
}
.slides-container>.slides{
    position: relative;
    height: 100%;
}
.slides-container>.slides>li{
    position: absolute;top: 0;left: 0;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background-size: cover;
    background-position: center center;
}
.cont_0>.slides-container>.slides>li:nth-child(1){
    background-image: url(../images/cont/section_00_type1.jpg);
    
}
.cont_0>.slides-container>.slides>li:nth-child(2){
    display: none;
    background-image: url(../images/cont/section_00_type2.jpg);}
.cont_0>.slides-container>.slides>li:nth-child(3){
    display: none;
    background-image: url(../images/cont/section_00_type3.jpg);}

.pleasure{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    z-index: 100;
}
.pleasure>h4{
    position: absolute;
    top: -100px;
    margin-left: -46px;
    padding-bottom: 10px;
    width: 92px;
    height: 13px;
    text-indent: -9999px;
    background-image: url(../images/pleasure.png);
    background-repeat: no-repeat;
    border-bottom: 2px solid #fff;
}
.pleasure>p:nth-child(2){
    margin-left: -217px;
    margin-top: -40px;
    width: 434px;
    height: 45px;
    text-indent: -9999px;
    background-image: url(../images/rainbow.png);
    background-repeat: no-repeat;
}
.pleasure>p:nth-child(3){
    margin-left: -215px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 27px;
}

/*알아보기 hover*/
.pleasure>a{
    display: block;
    position: relative;
    
    margin-left: -105px;
    width: 210px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    outline: 1px solid #fff;
    z-index: 10;
}
.pleasure>a:hover{
    color: #8C8C8C;
    transition: all 2s;

}
.pleasure>a>span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.pleasure>a:hover>span{
    background-color: #fff;
    animation-name: view;
    animation-duration: 0.5s;
    transition: all 0.3s;
    z-index: -1;
    
}
@keyframes view{
    0%{
        width: 0;
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);
    }

    100%{
        width: 100%;
         opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=00);

    }
    
}


/*cont_1*/
section>.cont_1{
    width: 100%;
    height: 100%;
    position: relative;
}
.cont_1>.slides-container>.slides>li:nth-child(1){
    background-image: url(../images/cont/section_01_type1.jpg);
    
}
.cont_1>.slides-container>.slides>li:nth-child(2){
    display: none;
    background-image: url(../images/cont/section_01_type2.jpg);}

.innovation{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    z-index: 100;
}
.innovation>h4{
    position: absolute;
    top: -100px;
    margin-left: -57px;
    padding-bottom: 10px;
    width: 114px;
    height: 13px;
    text-indent: -9999px;
    background-image: url(../images/innovation.png);
    background-repeat: no-repeat;
    border-bottom: 2px solid #fff;
}
.innovation>p:nth-child(2){
    margin-left: -279px;
    margin-top: -40px;
    width: 558px;
    height: 45px;
    text-indent: -9999px;
    background-image: url(../images/dream.png);
    background-repeat: no-repeat;
}
.innovation>p:nth-child(3){
    margin-left: -275px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 27px;
}
.innovation>a{
    display: block;
    position: relative;
    margin-left: -105px;
    width: 210px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    outline: 1px solid #fff;
    z-index: 10;
}
.innovation>a:hover{
    color: #8C8C8C;
    transition: all 2s;
}
.innovation>a>span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;;
}
.innovation>a:hover>span{
    background-color: #fff;
    animation-name: view;
    animation-duration: 0.5s;
    transition: all 0.3s;
    z-index: -1;
    
}

/*cont_2*/
section>.cont_2{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-image: url(../images/cont/section_02_type1.jpg);
}

.about{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    z-index: 100;
}
.about>h4{
    position: absolute;
    top: -100px;
    margin-left: -44px;
    padding-bottom: 10px;
    width: 88px;
    height: 13px;
    text-indent: -9999px;
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    border-bottom: 2px solid #fff;
}
.about>p:nth-child(2){
    margin-left: -441px;
    margin-top: -40px;
    width: 882px;
    height: 45px;
    text-indent: -9999px;
    background-image: url(../images/gold.png);
    background-repeat: no-repeat;
}
.about>p:nth-child(3){
    margin-left: -435px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 27px;
}
.about>a{
    display: block;
    position: relative;
    margin-left: -105px;
    width: 210px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    outline: 1px solid #fff;
    z-index: 10;
}
.about>a:hover{
    color: #8C8C8C;
    transition: all 2s;
}
.about>a>span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.about>a:hover>span{
    background-color: #fff;
    animation-name: view;
    animation-duration: 0.5s;
    transition: all 0.3s;
    z-index: -1;
    
}


/*cont_3*/
section>.cont_3{
    width: 100%;
    height: 100%;
    position: relative;
}
.cont_3>.slides-container>.slides>li:nth-child(1){
    background-image: url(../images/cont/section_03_type1.jpg);
}
.cont_3>.slides-container>.slides>li:nth-child(2){
    display: none;
    background-image: url(../images/cont/section_03_type2.jpg);
}

.festival{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    z-index: 100;
}
.festival>h4{
    position: absolute;
    top: -100px;
    margin-left: -42px;
    padding-bottom: 10px;
    width: 84px;
    height: 13px;
    text-indent: -9999px;
    background-image: url(../images/festival.png);
    background-repeat: no-repeat;
    border-bottom: 2px solid #fff;
}
.festival>p:nth-child(2){
    margin-left: -301px;
    margin-top: -40px;
    width: 602px;
    height: 45px;
    text-indent: -9999px;
    background-image: url(../images/together.png);
    background-repeat: no-repeat;
}
.festival>p:nth-child(3){
    margin-left: -295px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 27px;
}
.festival>a{
    display: block;
    position: relative;
    margin-left: -105px;
    width: 210px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    outline: 1px solid #fff;
    z-index: 10;
}
.festival>a:hover{
    color: #8C8C8C;
    transition: all 2s;
}
.festival>a>span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.festival>a:hover>span{
    background-color: #fff;
    animation-name: view;
    animation-duration: 0.5s;
    transition: all 0.3s;
    z-index: -1;
   
}

@media screen and (max-width:768px){
    .pleasure>p:nth-child(2){
        margin-left: -127px;/*수정*/
        width: 254px;/*수정*/
        height: 100px;/*수정*/
        background-image: url(../images/rainbow-moblie.png);/*수정*/
    }
    .pleasure>p:nth-child(3){
        margin-left: -127px;/*수정*/
    }
    
    .innovation>p:nth-child(2){
        margin-left: -155px;/*수정*/
        width: 310px;/*수정*/
        height: 100px;/*수정*/
        background-image: url(../images/dream-moblie.png);/*수정*/
    }
    .innovation>p:nth-child(3){
        margin-left: -155px;/*수정*/
    }
    .about>p:nth-child(2){
        margin-left: -215px;/*수정*/
        width: 430px;/*수정*/
        height: 100px;/*수정*/
        background-image: url(../images/gold-moblie.png);/*수정*/
    }
    .about>p:nth-child(3){
        margin-left: -215px;/*수정*/
    }
    
    .festival>p:nth-child(2){
        margin-left: -150.5px;/*수정*/
        margin-top: -40px;
        width: 301px;/*수정*/
        height: 100px;/*수정*/
        text-indent: -9999px;
        background-image: url(../images/together-moblie.png);/*수정*/
        background-repeat: no-repeat;
    }
    .festival>p:nth-child(3){
        margin-left: -190.5px;/*수정*/
    }
    
    .mouse-icon{
        display: none;/*수정*/
    }
}

/*오른쪽 라이트박스*/
.box_right{
    display: none;
    
}
.mnu_box{
    position: fixed;
    right: -100%;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    
}
.mnu_box>div>h2{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -35px;
    width: 60px;
    height: 70px;
    text-indent: -9999px;
    background-image: url(../images/logo.png);  
}


.mnu_box>div>div>ul{
    position: relative;
    padding-top:125px;
    text-align: center;
    
}
.mnu_box>div>div>ul>li{
    position: absolute;
    left: 50%;
    text-indent: -9999px;
    
}

.mnu_box>div>div>ul>li>a{
    display: block;
    width: 100%;
    height: 25px;
}

.mnu_box>div>div>ul>li:nth-child(1){
    top: 200px;
    width: 193px;
    height: 25px;
    margin-left: -96.5px;
    background-image: url(../images/gnb_Pleasure.png);
}
.mnu_box>div>div>ul>li:nth-child(2){
    top: 300px;
    width: 247px;
    height: 25px;
    margin-left: -123.5px;
    background-image: url(../images/gnb_innovation.png);
}
.mnu_box>div>div>ul>li:nth-child(3){
    top: 400px;
    width: 170px;
    height: 25px;
    margin-left: -85px;
    background-image: url(../images/gnb_about63.png);
}
.mnu_box>div>div>ul>li:nth-child(4){
    top: 500px;
    width: 181px;
    height: 25px;
    margin-left: -90.5px;
    background-image: url(../images/gnb_festival.png);
}

.mnu_box>div>div>ul>li:hover{
    background-position: 0 26px;
    height: 27px;
    border-bottom: 2px solid #F37321;
}

.mnu_box>div>div>ol{
    position: absolute;
    width: 100%;
    bottom: 100px;
    
}
.mnu_box>div>div>ol>li{
    float: left;
    width: 25%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #fff;
    
}
.mnu_box>div>div>ol>li>a{
    display: block;
    position: relative;
    height: 100px;
    color: #000;
    text-align: center;
}
.mnu_box>div>div>ol>li>a>span{
    display: block;
    content: '';
    position: absolute;
    top: 40px;
    left: 30%;
    margin-left: -11.5px;
    width: 23px;
    height: 23px;
    background-image: url(../images/gnb_icon_nowon.png);
}

.mnu_box>div>div>ol>li:nth-child(2)>a>span{
    top: 38px;
    left: 26%;
    background-image: url(../images/gnb_icon_road.png);
}
.mnu_box>div>div>ol>li:nth-child(3)>a>span{
    top: 38px;
    left: 26%;
    background-image: url(../images/gnb_icon_partner.png);
}
.mnu_box>div>div>ol>li:nth-child(4)>a>span{
    top: 38px;
    left: 26%;
    width: 28px;
    background-image: url(../images/gnb_icon_online.png);
}
.mnu_box>div>div>ol>li:hover>a{
    display: block;
    color: #F37321;
}
.mnu_box>div>div>ol>li:hover>a>span{
    background-position: 0 23px;
}

@media screen and (max-width:768px){
    .mnu_box>div>div>ul>li:nth-child(1){top: 170px;
    }
    .mnu_box>div>div>ul>li:nth-child(2){top: 250px;
    }
    .mnu_box>div>div>ul>li:nth-child(3){top: 330px;
    }
    .mnu_box>div>div>ul>li:nth-child(4){top: 410px;
    }
    
    .mnu_box>div>div>ol>li:nth-child(1)>a>span{
        display: none;
    }
    .mnu_box>div>div>ol>li:nth-child(2)>a>span{
        display: none;
    }
    .mnu_box>div>div>ol>li:nth-child(3)>a>span{
        display: none;
    }
    .mnu_box>div>div>ol>li:nth-child(4)>a>span{
        display: none;
    }
}


/*패밀리사이트 및 언어 눌렀을 때*/
div>.btn_mnu{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    
    background-color: #fff;
    
    border: 1px solid #d6d6d6;
    border-right: none;
    border-left: none;
    

}

.btn_mnu>a{
    display: block;
    position: relative;
    float: left;
    width: 50%;
    height: 100px;
    color: #000;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
       

}
/**********슬라이드up할 때, 숨겨주세요***********/
.btn_mnu>a:nth-child(1){
    border-right: 1px solid #d6d6d6;
    box-sizing:border-box;
}

.btn_mnu>a>i{
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -1px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transition:all 0.2s;
    transform: rotate(-135deg);
}
.btn_mnu>a:hover>i{
    transform: rotate(45deg);
}

/*안의 사이드메뉴 숨김*/
.family-site-list,.language-list{
    display: none;
}

.btn_mnu>.family-site-list{
    position: relative;
    width: 50%;
}
.btn_mnu>.family-site-list>ul{
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
}
.btn_mnu>.family-site-list>ul>li{
    height: 44px;
    text-align: center;
}
.btn_mnu>.family-site-list>ul>li>a{
    display: block;
    color: #000;
    font-size: 14px;
}


.language-list>ol{
    margin-left: 50%;
    
    border: 1px solid #d6d6d6;
    border-right: none;
    border-top: none;
}
.language-list>ol>li{
    
    line-height: 100px;
    text-align: center;
    
}
.language-list>ol>li:nth-child(1){
    padding-top: 140px;
}
.language-list>ol>li:nth-child(4){
    padding-bottom: 40px;
}
.language-list>ol>li>a{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

/*닫기버튼*/
.clse{
    position: absolute;
    top: 50px;
    right: 30px;
    width: 33px;
    height: 33px;
    text-indent: -9999px;
    background-image: url(../images/clse.png);
    transition: all 0.4s;
    
}
.clse:hover{
    transform: rotate(-90deg);
}

.shadow{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 900;
    
}



/*왼쪽 라이트박스*/
.box_left{
    display: block;    /* 나중에 none처리 */
    
}
#boxmnu{
    position: fixed;
    left: 0%;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 1100;
}
#boxmnu>div{
    height: 100%;
}
#boxmnu>div>h2{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -257.5px;
    width: 515px;
    height: 36px;
    text-indent: -9999px;
    background-image: url(../images/partner_title.png);/*미디어쿼리*/
    
}

.scroll{
    margin: 160px auto 0;
    
    width: 90%;
    height:75%;/*끝까지 박스*/
    overflow-y: scroll;
    transform: all 1s;
}

/*스크롤바 스타일 적용*/
.scroll::-webkit-scrollbar{
    width: 5px; 
    height: 8px; 
    border: 3px solid #fff;
} 
.scroll::-webkit-scrollbar-button:start:decrement, .scroll::-webkit-scrollbar-button:end:increment {
    display: block; 
    height: 0px;
    background: #efefef;
}
.scroll::-webkit-scrollbar-track{
    background: #efefef; 
    -webkit-border-radius: 10px; 
    border-radius:10px;
} 
.scroll::-webkit-scrollbar-thumb{
    height: 50px; 
    width: 50px; 
    background: rgba(0,0,0,0.7); 
    -webkit-border-radius: 8px; 
    border-radius: 8px;
}
/*******************/

.scroll>ul{margin-right: 3%;}
.scroll>ul>li{
    position: relative; 
    float: left; 
    margin-left: 30px; 
    margin-bottom: 20px; 
    width: 320px; 
    height: 300px; 
    cursor: pointer;
    transition:all 1s;
} 
.scroll>ul>li>figure{
    width: 320px; 
    height: 190px; 
    background-color: #000;
} 
.scroll>ul>li>figure>img{
    display: block; 
    width: 320px; 
    height: 190px;
} 
.scroll>ul>li>.txt{
    position: absolute; 
    top: 60%; 
    width: 320px; 
    height: 40%; 
    background-color: #fff;
} 
.scroll>ul>li>.txt>p{
    padding-top: 10px; 
    color: #555; 
    line-height: 1.8; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: -1px;
} 
.scroll>ul>li>.txt>p.on:after{
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    margin-left: -11.5px; 
    width: 23px; 
    height: 23px; 
    /*background-image: url(../images/icon_more.gif); content: '';*/
}





@media screen and (max-width:768px){
    .scroll{
        height:50%;/*수정*/
    }
    
    #boxmnu>div>h2{
        position: absolute;
        top: 150px;/*수정*/
        left: 85%;/*수정*/
        margin-left: -257.5px;
        width: 250px;
        height: 36px;
        text-indent: -9999px;
        background-image: url(../images/partner_title.png);
        
    }
    #boxmnu>div>h2:after{
        display: block;
        margin-top: 32px;
        margin-left: -27px;
        width: 275px;
        height: 36px;
        background-image: url(../images/partner_title.png);
        background-position: -240px 0;
        content: '';
        
    }
    
    
    .scroll{
        margin-top: 320px;/*수정*/
    }
    .scroll>ul>li{
        float: initial; /*수정*/
        margin: 0 20px 20px; /*수정*/
        transition:all 1s;
    } 
    
}



/*닫기버튼*/
#boxmnu>.clse{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 33px;
    height: 33px;
    text-indent: -9999px;
    background-image: url(../images/clse.png);
    transition: all 0.4s;
    
}
#boxmnu>.clse:hover{
    transform: rotate(90deg);
}

.shadow_2{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}






footer{
    height: 100px;
    text-align: center;
    line-height: 70px;
    background-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
}
footer>a{
    display: block;
    line-height: -0px;
    color: gray;
}
footer>a:hover{
    color: #000;
}
