@charset "utf-8";

.sr-only{position: absolute;left: -9999px;}
.clearfix{*zoom:1;}
.clearfix:after{display: block;clear: both;content: '';}

#wrap{margin: 0 auto;}

/*
@font-face{
    font-family: NanumSquareWeb;
    src: local(NanumSquareR),
         local(NanumSquare),
         url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(NanumSquareR.woff) format('woff'),
         url(NanumSquareR.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0-10FFFF;
}
*/
header{
    position: fixed; z-index: 1000;
    width: 100%;height: 125px;background-color: rgba(0,0,0,0.2);}


/*sub메뉴 배경*/
header>h1{display: none;position: absolute;top: 125px;width: 100%;height: 185px;text-indent: -9999px;background-color: rgba(0,0,0,0.2);
border-top-width:1px;
border-top-style: solid;
border-top-color: rgba(255,255,255,0.2);}

#guid{position: relative;margin: 0 auto;width: 1240px;height: 100%;}

#guid>.main_mnu{position: relative;}
#guid>.main_mnu>span{display: block;text-indent: -9999px;}
#guid>.main_mnu>span>a{display: block;
    float: left;margin-top: 35px;
    width: 132px;height: 54px;
    text-indent: -9999px;
    background-image: url(../images/logo_white.png);}

#guid nav{position: relative;width: 100%;height: 100%;}
#guid .gnb{position: absolute;left: 130px;}
#guid .gnb>li{float: left;font-size: 16px;}
#guid .gnb>li:nth-child(1){padding-left: 110px;}
#guid .gnb>li:nth-child(2),#guid .gnb>li:nth-child(3),
#guid .gnb>li:nth-child(4){padding-left: 50px;}

#guid .gnb>li>a{display: block;margin:45px 40px 65px 0px ;color: lightgrey;font-family: NanumSquareWeb, sans-serif;}

#guid .gnb>li>a:hover,
#guid .gnb>li.on>a{color: #fff;font-weight: 600;}


/*sub 메뉴 - header의 h1과 함께 show*/
#guid .gnb>li>.sub>li{margin-top: 10px;}
#guid .gnb>li>.sub>li:nth-child(1){margin-top: 0px;}

#guid .gnb>li>.sub>li>a{color: lightgrey;font-size: 12px;}
#guid .gnb>li>.sub>li>a:hover{color: #fff;}

#guid .gnb>li:nth-child(1)>.sub>li:nth-child(4),
#guid .gnb>li:nth-child(2)>.sub>li:nth-child(4),
#guid .gnb>li:nth-child(4)>.sub>li:nth-child(4){margin-bottom: 70px;}
#guid .gnb>li:nth-child(3)>.sub>li:nth-child(6){margin-bottom: 16px;}

/* 오른쪽 상단메뉴 □ */
.crumbs{position: absolute;top: 0;right: 0;width: 200px;height: 120px;}
.crumbs>ol{margin-top: 50px;}
.crumbs>ol>li{float: left;margin-left: 20px;}
.crumbs>ol>li:nth-child(1),
.crumbs>ol>li:nth-child(2){margin-top: 4px;text-transform: uppercase;}
.crumbs>ol>li:nth-child(3){
    width: 18px;height: 20px;
    background-image: url(../images/sp_square_icon.png);background-position: 0px -20px;cursor:pointer;}
.crumbs>ol>li>a{color: #fff;font-size: 14px;}

/*mouseover할 때 나오는 메뉴*/
.crumb_mnu{position: absolute;
    top: 20px;left: -30px;top: 90px;
    width: 200px;background-color: #F3F4F6;/*#E9EBEE*/}
.crumb_mnu:after{position: absolute;top: -10px;right: 8px;content: '';display: block;width: 0;height: 0;border-width: 5px;border-style: solid;border-color: transparent  transparent #F3F4F6 transparent ;}
.crumb_mnu>li:nth-child(1){margin-top: 15px;}
.crumb_mnu>li{margin: 0 15px 15px;}
.crumb_mnu>li:nth-child(3),.crumb_mnu>li:nth-child(6),.crumb_mnu>li:nth-child(10){padding-bottom: 15px;border-bottom: 1px solid #dedede;}

.crumb_mnu>li>a{color: rgba(0,0,0,0.6);}
.crumb_mnu>li>a:hover{color: #000;}

/*****header.on*****/
header.on{background-color: #fff;
border-bottom-width:1px;
border-bottom-style: solid;
border-bottom-color:#C5C5C5;}

    /*sub메뉴 배경*/
header.on>h1{background-color:#F0F0F0;border: none;}

header.on>#guid>.main_mnu>span>a{background-image: url(../images/logo_black.png);}


header.on>#guid .gnb>li>a{color: #000;}

header.on>#guid .gnb>li>a:hover,
header.on>#guid .gnb>li.on>a{font-weight: 600;}

header.on>#guid .gnb>li>.sub>li>a{color: grey;font-size: 12px;}
header.on>#guid .gnb>li>.sub>li>a:hover{color: #000;}
header.on .crumbs>ol>li>a{display: block;color: #000;}

header.on .crumbs>ol>li:nth-child(3){
    width: 18px;height: 20px;
    background-image: url(../images/sp_square_icon.png);background-position: 0px -50px;cursor:pointer;}

header.on .crumb_mnu{background-color: #E9EBEE;}
header.on .crumb_mnu:after{border-color: transparent  transparent #E9EBEE transparent ;}


/*section*/
section.cont_01{position: relative;top: 0;}
/*슬라이드*/
#slides{position: relative;
    left: 0;top: 0;
    width: 100%;height: 960px;}

#slides>.slides-container{position: absolute;left: 0;top: 0;
    width: 100%;/*200->100*/
    height:100%;}
#slides>.slides-container>li{
    position: absolute;left: 0;top: 0;
    width: 100%;height: 100%;
    margin: 0 auto;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;}
#slides>.slides-container>li:nth-child(1){background-image: url(../images/main_fstimg.jpg);}
#slides>.slides-container>li:nth-child(2){background-image: url(../images/main_scdimg.jpg);}



/*슬라이드 안의 문구*/
#slides>.slides-container>li>p{display: block;
    position: relative;
    width: 1240px;height: 100%;
    margin: 0 auto;
    font-family: NanumSquareWeb, sans-serif;}
/*문구1*/
#slides>.slides-container>li>p>span{display: block;position: absolute;top: 300px;margin-left: 60px;font-size: 60px;
    
    font-weight: 800;
    line-height: 1.2;
}
/*알아보기*/
#slides>.slides-container>li:nth-child(1)>p>a{display: block;position: absolute;top: 570px;
    margin-left: 60px;
    width: 130px;height: 40px;line-height: 40px;text-align: center;font-weight: 800;
    color: #dedede;outline: 1px solid #dedede;z-index: 100;}



/*페이지네이션 -js에서 움직이지않도록 설정함*/
.page-wrap{position: absolute;top: 720px;left: 50%;
    width: 1240px;height: 15px;
    transform: translateX(-50%);
    z-index: 200;
}
.slides-pagination{display:block;position: absolute;top: 0px;margin-left: 60px;
    text-indent: -9999px;}
.slides-pagination>li{float: left;margin-right: 20px;margin-top: 3.3px;width: 20px;height: 7px;background-color: #dedede;}
.slides-pagination>li.on{margin-top: 0;width: 15px;height: 15px;background-color: #fff;background-color: #fff;border-radius: 15px;}
.slides-pagination>li>a{display: block;width: 15px;height: 15px;}

/*이전 다음*/
.slides-navigation{display: block;position: absolute;top: 50%;
    width: 50px;height: 50px;text-indent: -9999px;
    background-image: url(../images/sp_square_icon_02.png);
    z-index: 200;
}
.slides-navigation:hover,
.slides-navigation.on{box-shadow: 1px 1px 20px #BABABA;}
.slides-prev{left: 0;background-position: -30px 0;}
.slides-next{right: 0;background-position: -90px 0;}

/*lightbox*/
.box_wrap{position: absolute;
    top: 0;left: 50%;margin-left: -620px;
    width: 1240px;height: 100%;
}
.box_wrap>div{position: absolute;top: 150px;right: 0;width: 350px;height: 600px;}
.box_wrap .boxpart{}

.boxpart>a{display: block;
    position: absolute;top: 0px;left: 0;
    width: 350px;height: 200px;
    margin-top: 50px;
    
    color: #fff;
    font-size: 24px;
    
    letter-spacing: -2px;
    font-family: NanumSquareWeb, sans-serif;
    line-height: 1.4;
    background-color: rgba(0,0,0,0.6);
    
    border-width: 1px; border-style: solid;
    border-color:rgba(255,255,255, 0.2);}


.boxpart>a:nth-child(1){top: 0;}
.boxpart>a:nth-child(2){top: 200px;}
.boxpart>a:nth-child(3){top: 400px;
    background-image: url(../images/main_ligthbox_video.png);}

/* + 만들기 */
.boxpart>a:nth-child(1):after,
.boxpart>a:nth-child(2):after{position: absolute;
    right: 0;bottom: 0;
    width: 35px;height: 35px;line-height: 35px;text-align: center;
    border: 1px solid;
    border-color: rgba(255,255,255,0.2);
    border-right: none;
    border-bottom: none;
    color: gray;
    font-size: 40px;font-family: "돋움";
    content: '+';}

.boxpart>a>span{display: block;padding: 40px 20px;}
.boxpart>a:nth-child(3)>span{padding-top:150px;text-align: center;font-size: 16px; cursor: pointer;}

.boxpart>a:nth-child(3)>span:after{
    content: '';
    position: absolute;top: 40px;left: 50%;margin-left: -36px;
    width: 72px;height: 72px;
    background-image: url(../images/sp_square_icon_02.png);background-position: 0 -240px;}

/*동영상 플레이 클릭했을 때*/
.shadow{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.85);z-index: 1100;}

.shadow>.lightbox{position: relative;left: 50%;top: 50%;
    width: 1020px;height: 551px;margin-left: -490px;margin-top: -275.5px;}

.shadow>.lightbox>video{display: inline-block;position: fixed;left: 50%;top: 50%;margin-left: -490px;margin-top: -275.5px;width: 980px;height: 551px;}

.shadow>.lightbox>.clse{
    position: absolute;
    top:0;right: -5px;
    width: 40px;height: 40px;
    text-indent: -9999px;
    
    background-image: url(../images/sp_square_icon_02.png);
    background-position: -170px -400px;
    
    background-color: transparent;outline: none;border: none;
    cursor: pointer;}

/*마우스휠*/
.mouse-icon{
    position: absolute;left: 50%;bottom: 40px;width: 30px;height: 50px;margin-left: -15px;border: 2px solid #fff;border-radius: 15px;box-sizing: border-box;
    
}

@keyframes mousewheel{
    0%{top: 5px;opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
    30%{top: 10px;
        opacity: 1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
    100%{top: 35px;opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
}

.mouse-icon>.wheel{position: absolute;left: 50%;width: 4px;height: 6px;margin-left: -2px;text-indent: -9999px;background-color: #fff;border-radius: 3px;
    animation-name: mousewheel;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*상단으로 이동*/
.top{position: fixed;bottom: 20px;right: 20px;
    width: 50px;height: 50px;}
.top>.top_btn{display: block;width: 100%;height: 100%;
    text-indent: -9999px;background-position:  0 200px;
    background-image: url(../images/sp_square_icon_02.png);}
.top>.top_btn:hover{background-position:  -60px 200px;}




/*section2 -cont_02*/

.cont_02{width: 100%;height:600px;background-color: #F5F5F5;color: #000;text-align: center;font-family: NanumSquare, sans-serif;}
.cont_02>h2{padding-top: 120px;font-size: 50px;line-height: 1.2;letter-spacing: -2px;}
.cont_02>p{margin-bottom: 18px;font-size: 18px;}
.cont_02>.fst_p{margin-top: 50px;}
.cont_02>div{position: relative;left: 50%;margin-left: -125px;
    width: 250px;height: 40px;
    }
.cont_02>div>a{display: block;
    margin: 60px 0 120px 0;
    color: #41AFE8;line-height: 13px;
    font-size: 19px;font-weight: 900;
    font-family: NanumSquareWeb, sans-serif;}
.cont_02>div>a:after{
    content: '';display: block;position: absolute;top: -6px;left: -5px;
    width: 30px;height: 31px;
    background-image: url(../images/sp_square_icon_02.png);
background-position: -100px -150px;}
.cont_02>div>a:before{content: '';display: block;
    position: absolute;top: 2px;right: 10px;
    width: 15px;height: 15px;
    background-image: url(../images/sp_square_icon_02.png);
background-position: -130px -150px;}




/*section3 -cont_03*/
.cont_03{font-family: NanumSquare, sans-serif;height: 300px;overflow: hidden;}
.cont_03>h2{
    padding-top: 120px;
    color: #000;text-align: center;
    font-size: 50px;line-height: 1.2;letter-spacing: -2px;}

.cont_03>div{position: relative;width: 1245px;height: 568px;left: 20px;right: 20px;margin: 60px auto 130px;
/*li의 left값 동적 설정*/overflow:hidden;}
.cont_03>div>p{position: absolute;left: 50%;top: 80px;
    margin-left: -163px;width: 303px;height: 426px;
    text-indent: -9999px;background-image: url(../images/main_map.png);
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/*라인*/
.cont_03>div>.area_line{text-indent: -9999px;}
.cont_03>div>.area_line>li{position: absolute;opacity: 0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.cont_03>div>.area_line>li:nth-child(1){
    left: 420px;top: 124px;
    width: 148px;height: 38px;
    background-image: url(../images/line_seoul.png);}
.cont_03>div>.area_line>li:nth-child(2){
    left: 421px;top: 385px;
    width: 128px;height: 51px;
    background-image: url(../images/line_gwangju.png);}
.cont_03>div>.area_line>li:nth-child(3){
    right: 421px;top: 120px;
    width: 218px;height: 148px;
    background-image: url(../images/line_daejoen.png);
    background-size: 105%;
}
.cont_03>div>.area_line>li:nth-child(4){
    right: 420px;top: 380px;
    width: 86px;height: 55px;
    background-image: url(../images/line_pusan.png);}

.cont_03 .text_cont{}
.text_cont>li{position: absolute;top: 0;width: 420px;height: 270px;color: #000;border: 1px solid #999999;overflow: hidden;}


.text_cont>li:nth-child(1),
.text_cont>li:nth-child(2),
.text_cont>li:nth-child(4){cursor: pointer;}

.text_cont>li:nth-child(1):hover,
.text_cont>li:nth-child(2):hover,
.text_cont>li:nth-child(4):hover{border-color: #00AB1D;}

/*1,2 원래 left값 :0*/
.text_cont>li:nth-child(2){top: 295px;}
.text_cont>li:nth-child(1),.text_cont>li:nth-child(2){left: 200px;opacity: 0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}


.text_cont>li:nth-child(3){border-color: #999999;border-style: dashed;}
.text_cont>li:nth-child(4){top: 295px;}

/*3,4원래 right값 :0*/
.text_cont>li:nth-child(3),.text_cont>li:nth-child(4){right: 200px;opacity: 0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}

.text_cont>li>a{display: block;height: 270px;margin: 50px 30px -60px 40px;color: #000;}
.text_cont>li:nth-child(3)>div{padding: 50px 30px 0 40px;}

.text_cont>li>a>h3{font-size: 22px;font-weight: 800;}
.text_cont>li>a>p{font-size: 15px;margin-top: 20px;line-height: 1.6;}
/*자세히*/
.text_cont>li>a>span{display: block;position: absolute;bottom: 40px;right: 40px;color: #999999;font-size: 15px;}
/*자세히 > 아이콘*/
.text_cont>li>a>span:after{
    content: '';display: block;position: absolute;right: -9px;top: 4px;
    width: 5px;height: 10px;
    background-image: url(../images/sp_square_icon_02.png);background-position: 0 -20px;}

/*a없는 대전*/
.text_cont>li:nth-child(3)>div>h3{font-size: 22px;font-weight: 800;}

.text_cont>li:nth-child(3)>div>h3:before{
    position: absolute;top: 45px;right: 89px;width: 43px;height: 20px;text-align: center;line-height: 1.5;
    content: '예정';color: #fff;font-size: 14px;font-weight: 400;background-color: #000;border: 1px solid #000;border-radius: 12px;
}
.text_cont>li:nth-child(3)>div>p{margin-top: 20px;font-size: 15px;line-height: 1.6;}



/*section4 -cont_04*/
.cont_04{font-family: NanumSquare, sans-serif;
    width: 100%;
    background-image: url(../images/main_btm_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;}
.cont_04>h2{
    padding-top: 120px;
    margin-bottom: 60px;
    color: #fff;text-align: center;
    font-size: 50px;line-height: 1.2;letter-spacing: -2px;}

.cont_04{}
.cont_04>ul{width: 1250px;height: 620px;margin: 0 auto;}
.cont_04>ul>li{float: left;width: 400px;height: 400px;text-align: center;background-color: rgba(255,255,255,0.8);margin-right: 25px;color: #000;}
.cont_04>ul>li:nth-child(3){margin-right: inherit;}

/*아이콘*/
.cont_04>ul>li>h3:before{display: block;content: '';margin: 70px 0 40px 155px;width: 92px;height: 80px;background-image: url(../images/sp_square_icon_02.png);}
.cont_04>ul>li:nth-child(1)>h3:before{
    background-position: 0 -60px;
}

.cont_04>ul>li:nth-child(2)>h3:before{
    background-position: -97px -60px;}
.cont_04>ul>li:nth-child(3)>h3:before{
  
    background-position: -0px -150px;}


.cont_04>ul>li>h3{font-size: 40px;font-weight: 800;letter-spacing: -1px;font-family: NanumSquareWeb, sans-serif;}
.cont_04>ul>li>span{display: block;margin-top: 30px;font-size: 23px;font-weight: 400;}
.cont_04>ul>li>p{margin-top: 35px;font-size: 16px;line-height: 1.6;}

footer{height: 100px;background-color: rgba(0,0,0,0.95);}
footer>address{position: relative;width: 1250px;margin: 0 auto;color: #fff;}
footer>address>p{text-align: center;line-height: 100px;font-family: NanumSquareWeb, sans-serif;}





