.wrap {
  background-size: cover;
  background-image: url(../images/background.jpg);
}

header {
  z-index: 2;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.header-aria {
  padding-left: 15px;
  border-bottom: 1px solid rgba(150, 125, 139, 0.4);
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-image {
  text-indent: -9999px;
  width: 1px;
  height: 0px;
  color: transparent;
}

.logo-image {
  display: block;
  width: 50px;
  height: 10px;
  background-image: url(../images/KakaoPay-remittance.png);
  background-size: 50px auto;
}

.header-text {
  top: 8px;
  right: 110px;
  color: #fff;
  font-size: 12px;
}

.header-text span {
  opacity: 0.6;
}

.header-text strong {
  opacity: 1;
  font-weight: 400;
}

.header-image {
  top: -2px;
  right: 0;
  width: 112px;
}

.header-image img {
  width: 100%;
}

.contents {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.contents-aria {
  padding-right: 20px;
  padding-left: 20px;
}

#coin {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#coin div {
  z-index: 1;
  position: absolute;
}

.coin01 {
  left: -2%;
  margin-top: 36%;
  padding-bottom: 31%;
  width: 13%;
}

.coin02 {
  left: 15%;
  margin-top: 67%;
  padding-bottom: 13%;
  width: 10%;
}

.coin03 {
  left: 0;
  margin-top: 90%;
  padding-bottom: 13%;
  width: 100%;
}

.coin04 {
  right: 6%;
  margin-top: 59%;
  padding-bottom: 13%;
  width: 9%;
}

.coin05 {
  right: 0%;
  margin-top: 47%;
  padding-bottom: 23%;
  width: 17%;
}

.coin06 {
  right: -9%;
  margin-top: 90%;
  padding-bottom: 28%;
  width: 25%;
}

.view-coin .coin-img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.coin01 .coin-img {
  background-image: url(../images/coin01.png);
}

.coin02 .coin-img {
  background-image: url(../images/coin02.png);
}

.coin03 .coin-img {
  background-image: url(../images/coin03.png);
}

.coin04 .coin-img {
  background-image: url(../images/coin04.png);
}

.coin05 .coin-img {
  background-image: url(../images/coin05.png);
}

.coin06 .coin-img {
  background-image: url(../images/coin06.png);
}

#hide-coin {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hide-coin div {
  z-index: 1;
  position: absolute;
  height: 100%;
}

.coin-img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hide-coin01 {
  top: -37%;
  right: 32%;
  width: 13%;
}

.hide-coin02 {
  top: -29%;
  right: 45%;
  padding-bottom: 22%;
  width: 38%;
}

.hide-coin03 {
  top: -20%;
  right: -24%;
  padding-bottom: 28%;
  width: 100%;
  transform: rotateY(180deg);
}

.hide-coin04 {
  top: 15%;
  right: 60%;
  padding-bottom: 13%;
  width: 9%;
}

.hide-coin05 {
  top: 11.2%;
  right: 51%;
  padding-bottom: 23%;
  width: 17%;
}

.hide-coin06 {
  top: 18%;
  right: 28%;
  padding-bottom: 25%;
  width: 30%;
}

.hide-coin07 {
  top: 23%;
  right: -9%;
  padding-bottom: 28%;
  width: 100%;
}

.hide-coin01 .coin-img {
  background-image: url(../images/coin02.png);
}

.hide-coin02 .coin-img {
  background-image: url(../images/coin05.png);
}

.hide-coin03 .coin-img {
  background-image: url(../images/coin05.png);
}

.hide-coin04 .coin-img {
  background-image: url(../images/coin04.png);
}

.hide-coin05 .coin-img {
  background-image: url(../images/coin05.png);
}

.hide-coin06 .coin-img {
  background-image: url(../images/coin02.png);
}

.hide-coin07 .coin-img {
  background-image: url(../images/coin05.png);
}

.neon {
  padding-bottom: 66%;
}

.electric-sign {
  position: relative;
  width: 100%;
  height: auto;
}

.electric-sign img {
  display: block;
  width: 100%;
}

.electric-sign .spark {
  padding-top: 1%;
  left: 50%;
  width: 50%;
  margin-left: -39%;
  z-index: 2;
}

.electric-sign .spark img {
  width: 50%;
  height: auto;
}

.drop-the,
.money {
  width: 100%;
}

.drop-the {
  padding-top: 10%;
}

.money {
  padding-top: 20%;
}

.cash-text {
  width: 70%;
  left: 50%;
  margin-left: -35%;
  padding-top: 50%;
}

.prize {
  position: relative;
  margin-bottom: 8%;
}

.g-money {
  padding-left: 5.2%;
}

.total-cash {
  margin-left: 50%;
  top: 78%;
  left: -34%;
  width: 50%;
}

.finger {
  width: 32%;
}

.finger.left {
  left: 0;
}

.finger.right {
  margin-top: -5%;
  right: -41%;
}

.total-money {
  width: 71%;
  left: 33%;
  margin-top: -4%;
}

.g-money img,
.finger img,
.total-money img {
  width: 100%;
}

.reward {
  position: relative;
  padding-top: 6%;
  margin-bottom: 8%;
  text-align: center;
}

.reward-title {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%);
  padding: 7px 18px 5px;
  color: #c88640;
  border: 1px solid #8e6232;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

.reward-title strong {
  font-weight: 700;
}

.reward-title span {
  padding-left: 6px;
}

.reward-box {
  padding: 20px;
  color: #c88640;
  font-weight: 400;
  border: 1px solid #8e6232;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.4);
}

.reward-box p {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #8e6232;
}

.reward-box ul {
  display: flex;
  padding: 20px 0 0;
}

.reward-box ul li {
  justify-content: space-between;
  width: 100%;
}

.prize-image {
  width: 100%;
}

.prize-image img {
  width: 100%;
}

.reward-box .personnel {
  padding-top: 10px;
}

.reward-box .personnel span {
  padding-right: 2px;
}

.social {
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}

.social-bg {
  position: relative;
  width: 100%;
}

.social-bg-frame {
  z-index: 1;
}

.social-bg img,
.social-bg-frame img,
.social-icons img {
  width: 100%;
  height: auto;
}

.social-icons .kakaotalk img,
.social-icons .twitter img {
  width: 120%;
}

.social-icons {
  z-index: 2;
  display: flex;
  position: absolute;
  top: 50%;
  padding: 3%;
  transform: translateY(-40%);
}

.social-icons a {
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.coin-bg {
  width: 100%;
}

.coin-bg img {
  width: 100%;
}

.precaution {
  padding-bottom: 50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

.precaution h2 {
  padding: 20px 0;
  font-weight: 700;
}

.precaution ul {
  padding-left: 10px;
}

.precaution ul li {
  margin-bottom: 10px;
}

.precaution>ul>li:before {
  position: absolute;
  left: 16px;
  content: 'ã†';
}

.prize-notice {
  position: relative;
  padding-top: 10px;
  margin-bottom: 40px;
}

.prize-notice>li:before {
  position: absolute;
  left: -0px;
  content: '-';
}

@media screen and (max-width: 400px) {

  .reward-title,
  .reward-box p,
  .personnel {
    font-size: 13px;
  }

  .reward-title {
    top: 2%;
  }
}

.spark-show {
  padding-top: 10.7%;
  animation-name: spark;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
  transition: all ease-in-out;
  transform: scale(0.4);
}

@keyframes spark {
  0% {
    opacity: 0;
    padding-top: 10.7%;
    transform: scale(0.39);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.coin-view {
  z-index: 1;
  opacity: 0;
  animation-name: coin-view;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  transition: all ease-in-out;
}

@keyframes coin-view {
  0% {
    opacity: 100%;
    top: -100%;
  }

  100% {
    opacity: 100%;
    top: 0%;
  }
}


.coin-show {
  z-index: 1;
  opacity: 0;
  animation-name: coin-show;
  animation-duration: 2.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  transition: all ease-in-out;
}

@keyframes coin-show {
  0% {
    opacity: 100%;
    top: -100%;
  }

  100% {
    opacity: 100%;
    top: 150%;
  }
}

.drop-the {
  animation: dropthe 1s 1s infinite alternate;
}

@keyframes dropthe {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.money:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(../images/money-o.png);
  animation: money-o 1.1s 1.1s infinite alternate;
}

.money {
  animation: dropthe 2.7s 1.5s infinite alternate;
}

@keyframes money {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes money-o {
  0% {
    opacity: 0.3;
  }

  25% {
    opacity: 1;
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.g-money {
  animation: g-money 0.4s 1s infinite alternate ease-in-out;
}

@keyframes g-money {
  30% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.total-money {
  animation: size 0.4s 1s infinite alternate ease-in-out;
}

@keyframes size {
  30% {
    transform: scale(1.11);
  }

  100% {
    transform: scale(1);
  }
}

.finger.left {
  animation: f-left 0.4s 1s infinite alternate ease-in-out;
}

@keyframes f-left {
  0% {
    transform: rotate(-20deg);
  }

  30% {
    transform: scale(1.12);
  }

  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: scale(1);
  }
}

.finger.right {
  animation: f-right 0.4s 1s infinite alternate ease-in-out;
}

@keyframes f-right {
  0% {
    transform: rotate(20deg);
  }

  30% {
    transform: scale(1.12);
  }

  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: scale(1);
  }
}

.social-bg-frame {
  animation: social-bg-frame 1.2s infinite alternate ease;
  animation-delay: 2s;
}

@keyframes social-bg-frame {
  0% {
    opacity: 0.1;
  }

  10% {
    opacity: 0.7;
  }

  20% {
    opacity: 0.1;
  }

  30% {
    opacity: 0.7;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.popup-button {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.popup-button img {
  width: 100%;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal .close {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 27%;
}

.close img {
  width: 100%;
}

.modal-top,
.modal-bottom {
  position: relative;
  width: 100%;
  height: 50%;
  background-size: cover;
}

.modal-top {
  background-image: url(../images/popup-top.png);
  border-bottom: 3px solid rgba(92, 35, 23, 0.6);
}

.modal-top,
.close {
  top: -100%;
  animation-name: modal-top;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  transition: all ease-in;
}

@keyframes modal-top {
  0% {
    top: -100%;
  }

  40% {
    top: -1%;
  }

  60% {
    top: -3%;
  }

  100% {
    top: 0;
  }
}

.modal-bottom {
  background-image: url(../images/popup-bottom.png);
  border-top: 3px solid rgba(233, 233, 233, 0.2);
}

.modal-bottom,
.remit-money {
  bottom: -100%;
  animation-name: modal-bottom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  transition: all ease-in;
}

@keyframes modal-bottom {
  0% {
    bottom: -100%;
  }

  40% {
    bottom: -1%;
  }

  60% {
    bottom: -3%;
  }

  100% {
    bottom: 0;
  }
}

.modal-top img,
.modal-bottom img {
  position: absolute;
  width: 100%;
  height: auto;
}

.modal-top img {
  bottom: 20px;
}

.modal-bottom img {
  top: 20px;
}